            </div>

        </main>

        <footer class="wrapper">
            <h2>Our Sponsors</h2>
            <ul class="sponsors">
                <li>
                    <a href="http://netsquared.org/" rel="external"><div class='netsquared'></div></a>
                </li>

                <li>
                    <a href="http://www.techsoup.org/" rel="external"><div class='techsoup'></div></a>
                </li>

                <li>
                    <a href="https://www.technology-trust.org/" rel="external"><div class='tt'></div></a>
                </li>

                <li>
                    <a href="https://bristol-energy.co.uk/" rel="external"><div class='bristol-energy'></div></a>
                </li>

                <li>
                   <a href="https://www.ketl.co.uk/" rel="external"><div class='ketl'></div></a> 
                </li>
                
            </ul>

            <div class="subfooter">
                <ul class="social">
                    <li><a href="https://twitter.com/t4gBristol" target="_blank" rel="external" class="twitter">Follow us on Twitter</a></li>
                    <li><a href="https://www.meetup.com/Tech4Good-Bristol/" target="_blank" rel="external" class="meetup">Join on Meetup</a></li>
                </ul>                  
            </div>           
        </footer>      
    </body>
</html>