---
layout: default
---
<h1 class="page-title">Shout Out</h1>


            <ul class="shoutouts">
                <li>
                    <div class="shoutouts-org">
                        <span class="info">
                            <p><a href="{{ page.url | prepend: site.github.url }}">{{ page.title }}</a></p>
                        </span>
                    </div>

                    <div class="shoutouts-contact">
                        <span class="info">
                            <p>{{ page.contact_name }}</p>
                        </span>
                    </div>

                    <div class="shoutouts-details">
                        <span class="info">
                            {{ page.contact_details | markdownify }}
                        </span>
                    </div>

                    <div class="shoutouts-date">
                        <span class="info">
                            <p><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time></p>
                        </span>
                    </div>

                    <div class="shoutouts-description">
                        <span class="info">
                            {{ page.content | markdownify }}
                        </span>
                    </div>

                    <div class="shoutouts-action">
                        <span class="info">
                            {{ page.action_requested | markdownify }}
                        </span>
                    </div>                    
                </li>
            </ul>
